federico-beccari-L8126OwlroY-unsplash.jpg
assets/js/game.js
assets/img/2203.jpg
assets/img/enemy.png
assets/img/enemy0.png
assets/img/enemy1.png
assets/img/federico-beccari-L8126OwlroY-unsplash.jpg
assets/img/nave.psd
assets/img/player.png
assets/img/player0.png
assets/img/player1.png
